<html ng-app="ionicApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    
    <title>Side Menus</title>

   
<link rel="stylesheet" href="ionic.css">
<script src="ionic.bundle.js"></script>

   <script src="ctrl.js" type="text/javascript" charset="utf-8"></script>
  
  <style>
      
      body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
  </style>
  
  
   </head>
 
  <body>
    
    <div ng-controller="MainCtrl">       
      <ion-nav-view></ion-nav-view>
    </div>
    
    <script id="event-menu.html" type="text/ng-template">
      <ion-side-menus>
        
        <ion-pane ion-side-menu-content>
          <ion-nav-bar type="bar-positive"
                   back-button-type="button-icon"
                   back-button-icon="ion-ios7-arrow-back"></ion-nav-bar>
          <ion-nav-view name="menuContent"></ion-nav-view>
        </ion-pane> 
        
        <ion-side-menu side="left">
          <header class="bar bar-header bar-assertive">
            <div class="title">Left Menu</div>
          </header>
          <ion-content has-header="true">
            <ul class="list">
              <a href="#/event/check-in" class="item">Check-in</a>
              <a href="#/event/attendees" class="item">Attendees</a>
            </ul>
          </ion-content>
        </ion-side-menu>
        
      </ion-side-menus>
    </script>
    
    <script id="home.html" type="text/ng-template">
      <ion-view title="'Welcome'" left-buttons="leftButtons" hide-nav-bar="true">
        <div class="bar bar-header">
      <button class="button button-icon icon ion-navicon" style="text-align:left;padding-right:20px" ng-click="sideMenuController.toggleLeft()"></button>  
          <div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios7-search placeholder-icon"></i>
    <input type="search" placeholder="Search">
  </label>
  <button class="button button-clear">
    Cancel
  </button>
</div>
  </div>
        <ion-content has-header="true" padding="true">
          <p>Swipe to the right to reveal the left menu.</p>
          <p>(On desktop click and drag from left to right)</p>
        </ion-content>
      </ion-view>
    </script>
    
    <script id="check-in.html" type="text/ng-template">
      <ion-view title="'Event Check-in'" left-buttons="leftButtons">
        <ion-content has-header="true">
          <form class="list" ng-show="showForm">
            <div class="item item-divider">
              Attendee Info
            </div>
            <label class="item item-input">
              <input type="text" placeholder="First Name" ng-model="attendee.firstname">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Last Name" ng-model="attendee.lastname">
            </label>
            <div class="item item-divider">
              Shirt Size
            </div>
            <ion-radio ng-repeat="shirtSize in shirtSizes"
                       ng-value="shirtSize.value"
                       ng-model="attendee.shirtSize">
              {{ shirtSize.text }}
            </ion-radio>
            <div class="item item-divider">
              Lunch
            </div>
            <ion-toggle ng-model="attendee.vegetarian">
              Vegetarian
            </ion-toggle>
            <div class="padding">
              <button class="button button-block" ng-click="submit()">Checkin</button>
            </div>
          </form>

          <div ng-hide="showForm">
            <pre ng-bind="attendee | json"></pre> 
            <a href="#/event/attendees">View attendees</a>
          </div>
        </ion-content>
      </ion-view> 
    </script>  asdfasfd
    
    <script id="attendees.html" type="text/ng-template">
      <ion-view title="'Event Attendees'" left-buttons="leftButtons">
        <ion-content has-header="true">
          <div class="list">
            <ion-toggle ng-repeat="attendee in attendees | orderBy:'firstname' | orderBy:'lastname'"
                        ng-model="attendee.arrived"
                        ng-change="arrivedChange(attendee)">
              {{ attendee.firstname }}
              {{ attendee.lastname }}
            </ion-toggle>
            <div class="item item-divider">
              Activity
            </div>
            <div class="item" ng-repeat="msg in activity">
              {{ msg }}
            </div>
          </div>
        </ion-content>
      </ion-view>
    </script>
    
  </body>
</html>